## **Basics of Python**

In [1]:
2+3

5

In [2]:
7 * 8

56

In [3]:
"Hello World"

'Hello World'

In [5]:
print("Hello World")

Hello World

In [6]:
for i in range(12):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [7]:
#commments

In [8]:
print("Hello World")#

Hello World

In [9]:
#print("Hello World")#

In [10]:
"""
this is a 
Multi-line comment
"""
print("Hello")

Hello

# **Data Types**

In [11]:
type(-80)

int

In [12]:
type(10.8)

float

In [13]:
type("Hello")

str

In [14]:
type(6<3)

bool

In [15]:
int(2.8)

2

In [16]:
float(3)

3.0

In [17]:
str(3)

'3'

In [18]:
name = "blueline"
print(name)

blueline

In [20]:
greeting = "Hello World"
print(greeting)

Hello World

In [21]:
greeting

'Hello World'

In [22]:
a = 10
b = 2
c = a+b
print(c)

12

# **List**

In [23]:
animals = ["dog", "cat", "sheep", "goat", "tiger","lion"]

In [25]:
print(animals[2])

sheep

In [26]:
print(animals[-3])

goat

In [30]:
print(animals[2:5])

('sheep', 'goat', 'tiger')

In [31]:
fruits = ("apple", "banana", "peach", "orange")
fruits[3]

'orange'

In [32]:
fruits = ["apple", "banana", "peach", "orange"]

In [33]:
fruits[2]

'peach'

In [34]:
fruits.append('cherry')

In [36]:
fruits

['watermelon', 'banana', 'peach', 'orange', 'cherry']

In [37]:
fruits[0] = 'watermelon'

In [38]:
print(fruits)

['watermelon', 'banana', 'peach', 'orange', 'cherry']

In [39]:
mixed = ["mango", "true", 11, 5.3]

In [40]:
mixed[3]

5.3

In [41]:
mixed.remove(11)

In [42]:
mixed

['mango', 'true', 5.3]

In [43]:
for a in animals:
  print(a)

dog
cat
sheep
goat
tiger
lion

In [44]:
print(len(animals))

6

In [45]:
print(fruits[1:3])

['banana', 'peach']

In [46]:
fruits.clear()

In [47]:
fruits

[]

# **Tuple**

In [48]:
animal = ("bear", "dog", "cat", "rat", "goat")

In [49]:
animal [-2]

'rat'

In [50]:
for i in animal:
  print(i)

bear
dog
cat
rat
goat

In [51]:
print(len(animal))

5

In [52]:
letters = ('a', 'b','c')
numbers = (1, 2, 3)
letter_numbers = letters + numbers

In [53]:
print(letter_numbers)

('a', 'b', 'c', 1, 2, 3)

# **Dictionary**

In [54]:
country_city = {
    "uk"    : "london",
    "usa"   : "washington",
    "italy" : "rome",
    "egypt" : "cairo"
}

In [55]:
country_city["italy"]

'rome'

In [56]:
country_city.get("egypt")

'cairo'

In [57]:
country_city["usa"] = "atlanta"
country_city["usa"]

'atlanta'

In [58]:
country_city["japan"] = "tokyo"
print(country_city)

{'uk': 'london', 'usa': 'atlanta', 'italy': 'rome', 'egypt': 'cairo', 'japan': 'tokyo'}

In [59]:
country_city.pop("japan")
print(country_city)

{'uk': 'london', 'usa': 'atlanta', 'italy': 'rome', 'egypt': 'cairo'}

In [60]:
for i in country_city:
  print(i)

uk
usa
italy
egypt

In [61]:
for i in country_city.values():
  print(i)

london
atlanta
rome
cairo

In [62]:
for x,y in country_city.items():
  print(x,y)

uk london
usa atlanta
italy rome
egypt cairo

In [63]:
print(len(country_city))

4

# **Operators**

In [64]:
x = 4
y = 7
print(x+y)

11

In [65]:
print(x*y)

28

In [66]:
x = 3
x +=3
print(x)

6

In [67]:
x = 7
x *= 2
print(x)

14

In [68]:
x = 7
y = 4
print(x==y)

False

In [69]:
x = 7
y = 9
print(x<y)

True

# **Statements**

In [70]:
# If Statement
a = 2
b = 3
if a<b:
  print("a is smaller than b")

a is smaller than b

In [71]:
a = 10
b = 20
if a == b:
  print("both a and b are equal")
elif a < b:
    print("a is less than b")

a is less than b

In [72]:
a = 10
b = 20
if a == b:
  print("a and b are equal")
elif a > b:
  print("a is greater than b")
else:
  print(" b is greater than c")

 b is greater than c

In [73]:
first = int(input("enter the number"))
second = int(input("enter the number"))
sum = first + second
print(sum)

enter the number5
enter the number6
11

# **Looping**

In [74]:
i = 1
while i<7:
  print(i)
  i += 1

1
2
3
4
5
6

In [75]:
i = 1
while i<7:
  print(i)
  if (i == 4):
    break
  i += 1

1
2
3
4

In [76]:
name = ["joy", "jack", "jill"]
for x in name:
  print(x)

joy
jack
jill

In [77]:
for x in "india":
  print(x)

i
n
d
i
a

In [78]:
colour = ["red", "orange", "green"]
fruit =  ["cherry", "orange", "grapes"]
for x in colour:
  for y in fruit:
    print (x,y)

red cherry
red orange
red grapes
orange cherry
orange orange
orange grapes
green cherry
green orange
green grapes

# **Functions**

In [79]:
def sum(x,y):
  print(x + y)

sum(2,3)

5

In [80]:
def sum(x,y):
  print(x + y)

In [81]:
sum(2, 7)

9

In [82]:
def student(name = "blueline"):
  print("hello " + name)

In [83]:
# calling function without argument
student()

hello blueline

In [84]:
student("john")

hello john

In [85]:
student("james")

hello james

In [86]:
def calculator(operand1, operand2, operator):
  if operator == '+':
    return operand1 + operand2
  elif operator == '*':
    return operand1 * operand2
  elif operator == '/':
    if operand2 != 0:
      return operand1 / operand2
    else:
      return none
  else:
    return "invalid inputs"

In [87]:
output = calculator(10, 20, '+')
print(output)

30

# **Exercise**

In [2]:
# Python Program to find the area of triangle
a = float(input('Enter first side: '))
b = float(input('Enter second side: '))
c = float(input('Enter third side: '))

s = (a + b + c) / 2
area = (s*(s-a)*(s-b)*(s-c)) ** 0.5
print('The area of the triangle is %0.2f' %area, "unit²")

Enter first side: 5
Enter second side: 6
Enter third side: 7
The area of the triangle is 14.70 unit²